# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
run/config/fml.toml
run/logs/debug-1.log.gz
run/logs/debug-2.log.gz
run/logs/debug-3.log.gz
run/logs/debug-4.log.gz
run/logs/debug-5.log.gz
run/logs/debug.log
run/logs/latest.log
